@{
    ViewData["Title"] = "Usage";
}
<h1>@ViewData["Title"]</h1>

<p>No tweets are stored locally, no usernames (handles) are tracked whatsoever following the initial request. This is just for fun.</p>
<p>Tweetcabulary will retrieve (up to) 3,200 of the most recent, publicly available tweets for a given user for analysis.</p>
