@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tweetcabulary</h1>
    <h3>Find out how expressive you are</h3>
    <br />
    <p>Current server time is @DateTime.Now</p>
</div>
