@{
    ViewData["Title"] = "Home Page";
}
<!--<script src="~/js/site.js" type="text/javascript"></script>-->

<div class="card-title">
    <h1 class="display-4">Tweetcabulary</h1>
    <h3>How expressive are you?</h3>
    <br />
    <p>Get vocabulary analysis for any public user that has made at least one tweet</p>
</div>

<form asp-action="UserAnalysis">
    <div class="submitView">
        <input required name="UserHandle" id="UserHandle" class="form-control" maxlength="16" placeholder="&#64Example_User"
               pattern="&#64[a-zA-Z1-9_]{1,15}" oninvalid="setCustomValidity('Invalid Twitter Handle Format')"
               oninput="setCustomValidity('')"/>
        <input type="submit" class="btn btn-primary" value="Get Stats"/>
    </div>
</form>